<app-navbar-home></app-navbar-home>
<br>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>TEST LIST</h2>
  </div>
  <div class="panel-body">
    <table id="table" class="table table-striped">
      <thead>
        <tr>
          <th>Test Id</th>
          <th>Test Title</th>
          <th>Test Duration</th>
          <th>Test Total Marks</th>
          <th>Test Start Time</th>
          <th>Test End Time</th>
        </tr>
      </thead>
      <tbody id="tbody">
        <tr *ngFor="let test of tests | async">
          <td>{{test.testId}}</td>
          <td>{{test.testTitle}}</td>
          <td>{{test.testDuration}}</td>
          <td>{{test.testTotalMarks}}</td>
          <td>{{test.startTime}}</td>
          <td>{{test.endTime}}</td>
          <td><button (click)="deleteTest(test.testId)" class="btn btn-danger">Delete Test</button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>