<app-navbar-home></app-navbar-home>
<br>
<h2>This site is managed by : <b>Team Gauss</b></h2>
<br>
<h1>Contact us at :</h1><br>
<div class="card">
    <div class="card">
        <h3>Prashant Kumar Upadhyay</h3> <span style="color: blue;">prashantku30@gmail.com</span><br>
    </div>
    <div class="card">
        <h3>Mihir Rai</h3> <span style="color: blue;">raimihir10@gmail.com</span><br>
    </div>
    <div class="card">
        <h3>Rishabh Srivastav</h3> <span style="color: blue;">rishabh@gmail.com</span><br>
    </div>
    <div class="card">
        <h3>Shivangi Dubey</h3><span style="color: blue;">shivangidubey9451@gmail.com</span><br>
    </div>
    <div class="card">
        <h3>Sahastranshu Dubey</h3> <span style="color: blue;">sahstranshu.dubey@gmail.com</span><br>
    </div>
</div>
