/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css'; 
 /* @import '~bootstrap/dist/css/bootstrap.min.css'; */
.form-control {
    width: 25%;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    

  }

  
  
  .container {
    
    align-items: center;
    justify-content: center;



   
}
  
.footer {
    position: absolute;
    bottom: 0;
    width:100%;
    height: 70px;
    background-color: blue;
    text-align: center;
    color: white;
    margin-bottom: -355px;
}
h1 {
  color : #030303d2;
  text-align : center;
  font-family: "SIMPSON";
}
h2 {
  color : #030303d2;
  text-align : center;
  font-family: "SIMPSON";
}
h3 {
  color : #030303d2;
  text-align : center;
  font-family: "SIMPSON";
}
form {
  width: 300px;
  margin: 0 auto;
  
}
button{
  
  width: 300px;
  margin: 0 auto;   
}
