<app-navbar-home></app-navbar-home>
<br>
<h3>Enter The Test ID To Be Updated</h3>
<br><br>

<div [hidden]="submitted">
  <form (ngSubmit)="onSubmit()" #updatehomeForm="ngForm">

    <div class="form-group">
      <label id="label" for="name">Test Id </label>
      <input type="number" #testid="ngModel" pattern="[1-9]{1,5}" placeholder="enter the test id" class="form-control"
        id="testid" required [(ngModel)]="testId" name="testid" [class.is-invalid]="testid.invalid && testid.touched">
      <div *ngIf="testid.errors && (testid.invalid||testid.touched)" [class.d-none]="testid.valid || testid.untouched">
        <small class="text-danger" *ngIf="testid.errors.required">Test id is required</small>
        <small class="text-danger" *ngIf="testid.errors.pattern">test id cannot be negative or zero</small>
      </div>
    </div>
    <button routerLink="/update/{{testId}}" class="btn btn-info" [disabled]="updatehomeForm.form.invalid">Update
      Test</button>
  </form>
</div>