<app-navbar-home></app-navbar-home>
<br>
<h2><b>Team Gauss</b></h2>
<h3>This Online Test Management System is a result of our joint effort to complete the project.<br> 
    This Project was assigned to us in the Sprint-2 of Capgemini training, to evaluate our understanding of concepts learned during the training period and teamwork. <br>
    We thank Capgemini to provide this opportunity to us, and our trainers and mentor for their support.<br>
    Our team is named after Johann Carl Friedrich Gauss, a German mathematician and physicist who made significant contributions to many fields in mathematics and science.<br>
    This project is also a little contribution of us to help people by providing them a platform to test their knowledge and learning.<br>
    The members of team Gauss are as follows :</h3>

  <div>
    <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img alt="Photo of Prashant Upadhyay" src="\assets\Prashant.jpg" >
              <span class="card-title"><b>Prashant Kumar Upadhyay</b></span>
              <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <p>The training was fun and rewarding and a little bit tough as there were many new things to learn. The trainers were very helping and good.
                I learnt many new concepts and technologies and also the correct structural way to make a project. My task was to implement complete frontend and backend of Assign test to user, login & logout,and AboutUs and Contact Us section.
                I experienced how the development of projects take place in companies with modular approach and cooperation within a team. The best part when we completed our assigned project. 
                Thankyou Capgemini for this great experience.🚩😊</p>
            </div>
          </div>
        </div>

            <div class="col s12 m6">
                <div class="card">
                  <div class="card-image">
                    <img alt="Photo of Shivangi Dubey" src="\assets\Shivangi.jpg" >
                    <span class="card-title"><b>Shivangi Dubey</b></span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                  </div>
                  <div class="card-content">
                    <p>Hello, Myself Shivangi Dubey, trainee at capgemini.I learnt many new concepts and technologies and also the correct structural way to make a project. My task was to implement complete frontend and backend of add test, delete test, update test, view all and viewbyId of test. I enjoyed working with my teammates, they are very helping and interesting people. This training is one of the good experiences of my life. Thankyou Capgemini for this great experience.</p>
                  </div>
                </div>
              </div>

        <div class="col s12 m6">
            <div class="card">
              <div class="card-image">
                <img alt="Photo of Sahastranshu" src="\assets\Sahastranshu.png" >
                <span class="card-title"><b>Sahastranshu Dubey</b></span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
              </div>
              <div class="card-content">
                <p>Hello, Myself Sahstranshu Dubey, trainee at capgemini. The training was fun and rewarding in this I learned many new concepts about java, interacted with many new people and also learned to work in as team. As a part of Team Gauss, my responsibility was to do the functionalities related to question form backend to frontend like making methods to add questions in a test, to delete question and view all questions in a test. I enjoyed working with my teammates, they are very helping, chearing and interesting people. This training is one of the good experiences of my life.</p>
              </div>
            </div>
          </div>
      </div>
  </div>

<div>
  <div class="row">
    <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <img alt="Photo of Mihir Rai" src="\assets\Mihir.jpg" >
            <span class="card-title"><b>Mihir Rai</b></span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p>Online Test Management is my first java full stack project as Capgemini trainee in this project I have worked on the user crud operations, apart from this I have a keen interest in CyberSecurity, Networking, and IoT. Also, I have Qualified Cisco CCNA CyberOps Certification and Worked as Project associate  IoT labs at DataRitz Technologies</p>
          </div>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <img alt="Photo of Sahastranshu" src="\assets\Rishabh.jpg" >
            <span class="card-title"><b>Rishabh Srivastava</b></span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p>Hello, Myself Rishabh Srivastava, trainee at capgemini. The training was fun and rewarding in this I learned many new concepts about java, interacted with many new people and also learned to work in as team. As a part of Team Gauss, my responsibility was to do the functionalities get result, update question and give test from frontend to backend. I enjoyed working with my teammates, they are very helping, chearing and interesting people. This training is one of the good experiences of my life.</p>
          </div>
        </div>

      
    </div>
  </div>
</div>